:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --border-color-img: #eeeeee;
  --color-icon: ##afb1b8;
  --button-focus-color: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-actions: #2f303a;
  --border-close-button: 1px solid rgba(0, 0, 0, 0.1) 
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
/* колір основн ого тексту #757575; */
/* вторинний колір текста #212121 */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* основний колір фону #F5F5F5 */
/* вторинний колир фону #F5F4FA */

/* logo */

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;

  /*outline: 2px solid tomato;*/
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;

  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent {
  color: var(--accent-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-text-color);
  position: relative;
}

.current::after {
  content: "";
  background-color: var(--accent-text-color);

  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.link,
.projects-item {
  text-decoration: none;
}

/* site-nav */

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
  margin-bottom: 0;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
  margin-bottom: 0px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contakts .link:hover,
.contakts .link:focus {
  color: var(--accent-text-color);
}

/*====== Auth nav ======*/
.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav .site-nav + .site-nav {
  margin-left: 48px;
}

.contakts .link {
  display: flex;
  align-items: center;
}

.contakts {
  gap: 50px;
}

.contakts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*===== hero ======*/

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../all.images/bg-image/bg-Img.jpg");
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-text-color);
  text-transform: uppercase;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  min-width: 216px;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition-property: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--button-focus-color);
}

/*===== section Особливості =====*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  fill: currentColor;
}

.features-icons {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}

.section-title {
  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*====== features ======*/

.pictures {
  padding-top: 0;
}

.features .item {
  width: 270px;
}

.features .titles {
  color: var(--title-text-color);
  text-transform: uppercase;

  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  list-style: none;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.features .item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 10px;
}
/*====== Чим ми займаємося ======*/

.heading {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item-pictures:not(:last-child) {
  margin-right: 30px;
}

.item-actions {
  color: var(--white-text-color);
  background-color: var(--background-actions);
  opacity: 0.8;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  bottom: 0;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 70px;
}
/*====== team ======*/
.item-pictures {
  position: relative;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.items {
  background-color: var(--team-bg-color);
}

.title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.networks {
  display: flex;
  justify-content: center;

  list-style: none;
}

.social-link {
  color: #afb1b8;
  cursor: pointer;

  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  transition: color 250ms var(--timing-function);
}

.network-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}

.icon-button:not(:last-child) {
  margin-right: 10px;
}

.icon-button {
  width: 44px;
  height: 44px;
}

/*========Постійні клієнти=====*/

.logo-items {
  align-items: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
}

.logo-items:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;

  fill: #afb1b8;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  transition: color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.list-logo {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}
/*====== футтер ======*/

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.head-footer {
  color: var(--white-text-color);

  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-link {
  color: var(--white-text-color);

  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent-link {
  color: var(--accent-text-color);
}

.text {
  color: var(--white-text-color);

  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address {
  margin-top: 20px;
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-text-color);
}

.address-item {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  transition: color 250ms var(--timing-function);
}

.address-text {
  margin-bottom: 9px;
}

.address-link:not(:last-child) {
  margin-bottom: 9px;
}

.side-left {
  display: block;
}

.side-right {
  display: block;
  margin-left: 70px;
}

.networks-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-footer {
  fill: currentColor;
}

.social-link-footer {
  color: var(--white-text-color);
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  transition: color 250ms var(--timing-function);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}

.icon-button:not(:last-child) {
  margin-right: 10px;
}

.icon-button {
  display: flex;
  width: 44px;
  height: 44px;
}
/*----- ПОРТФОЛІО----- */

.btn-list {
  margin-bottom: 50px;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.btn {
  border-radius: 4px;
  border: transparent;
  color: var(--title-text-color);
  background-color: var(--team-bg-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  max-height: 38px;

  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-projects {
  margin-top: 94px;
  margin-bottom: 94px;
}

.projects {
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  display: block;
  cursor: pointer;

  background-color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.overlay-text {
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  padding: 63px 24px;

  transition: transform 250ms linear;
  transform: translateY(100%);
}

.overlay:hover .overlay-thumb::before, 
.overlay:hover .overlay-text {
  transform: translateY(0);
}

.projects-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.projects-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;
}

.name-projects {
  padding: 20px 24px;
  border: 1px solid var(--border-color-img);
  border-top: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--timing-function); 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none ;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-close-button); 
  border-radius: 50% ;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}


