:root {
  --primary-text-collor: #757575;
  --title-text-collor: #212121;
  --accent-text-collor: #2196f3;
  --white-text-collor: #ffffff;
  --primary-bg-collor: #f5f5f5;
  --secondary-bg-collor: #2f303a;
  --team-bg-collor: #f5f4fa;
  --border-collor-img: #eeeeee;
  --color-icon: ##afb1b8;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-collor);
  background-color: var(--white-text-collor);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
/* колір основн ого тексту #757575; */
/* вторинний колір текста #212121 */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* основний колір фону #F5F5F5 */
/* вторинний колир фону #F5F4FA */

/* logo */

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;

  /*outline: 2px solid tomato;*/
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--title-text-collor);
  font-family: Raleway, cursive;

  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent {
  color: var(--accent-text-collor);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  color: var(--title-text-collor);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.link,
.projects-item {
  text-decoration: none;
}

/* site-nav */

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-collor);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
  margin-bottom: 0;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
  margin-bottom: 0px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contakts .link:hover,
.contakts .link:focus {
  color: var(--accent-text-collor);
}

.site-nav .link.current {
  color: var(--accent-text-collor);
}
/*====== Auth nav ======*/
.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav .site-nav + .site-nav {
  margin-left: 48px;
}

.contakts .link {
  display: flex;
  align-items: center;
}

.contakts {
  gap: 50px;
}

.contakts .link {
  color: var(--primary-text-collor);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*===== hero ======*/

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../all.images/bg-image/bg-Img.jpg");
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-text-collor);
  text-transform: uppercase;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  min-width: 216px;

  color: var(--white-text-collor);
  background-color: var(--accent-text-collor);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  color: var(--white-text-collor);
}

/*===== section Особливості =====*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  fill: currentColor;
}

.features-icons {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-bg-collor);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}

.section-title {
  color: var(--title-text-collor);

  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*====== features ======*/

.pictures {
  padding-top: 0;
}

.features .item {
  width: 270px;
}

.features .titles {
  color: var(--title-text-collor);
  text-transform: uppercase;

  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  list-style: none;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.features .item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 10px;
}
/*====== Чим ми займаємося ======*/

.heading {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.item-pictures:not(:last-child) {
  margin-right: 30px;
}

/*====== team ======*/
.item-pictures {
  background-color: var(--white-text-collor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.items {
  background-color: var(--team-bg-collor);
}

.title {
  color: var(--title-text-collor);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.networks {
  display: flex;
  justify-content: center;

  list-style: none;
}

.social-link {
  color: #afb1b8;
  cursor: pointer;

  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
}

.icon-button:not(:last-child) {
  margin-right: 10px;
}

.icon-button {
  width: 44px;
  height: 44px;
}

.network-icon {
  fill: currentColor;
  color: #afb1b8;
}

/*====== футтер ======*/

.footer {
  background-color: var(--secondary-bg-collor);
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding: 60px 1154px 60px 215px; */
}

.logo-link {
  color: var(--white-text-collor);

  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent-link {
  color: var(--accent-text-collor);
}

.text {
  color: var(--white-text-collor);

  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address {
  margin-top: 20px;
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-text-collor);
}

.address-item {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address-text {
  margin-bottom: 9px;
}

.address-link:not(:last-child) {
  margin-bottom: 9px;
}

/*----- ПОРТФОЛІО----- */

.btn-list {
  margin-bottom: 50px;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.btn {
  border-radius: 4px;
  border: transparent;
  color: var(--title-text-collor);
  background-color: var(--team-bg-collor);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  max-height: 38px;

  padding: 6px 22px 6px 22px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-text-collor);
  color: var(--white-text-collor);
}

.section-projects {
  margin-top: 94px;
  margin-bottom: 94px;
}

.projects {
  flex-wrap: wrap;
  gap: 30px;
}

.projects-title {
  color: var(--title-text-collor);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.projects-text {
  color: var(--primary-text-collor);

  font-size: 16px;
  line-height: 1.9;
}

.name-projects {
  padding: 20px 24px;
  border: 1px solid var(--border-collor-img);
  border-top: 0;
}
